*{
    margin: 0;
    padding: 0;
}
.body-home{
    background-image: linear-gradient(rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(./pubilc/imagen\ lit\ killah\ 2.jpg);
    background-size: cover;
    max-width: 100%;
}
body{
    background-color: #000000;
}
header{
    background-color: #8a8989;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: oblique;
    color: #f0f8ff;
    position: relative;
    right: 40px;
}
ul li a {
    color: #f0f8ff;
    text-decoration: none;
    padding-right: 20px;
    
}

    
.subtitulo-intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #f0f8ff;
    
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 60px;
}
    
 .parrafo-intro{
    color: #f0f8ff;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    justify-self: center;
   
    padding-bottom: 20px;
    padding-left: 60px;
    width: 290px;

}
.imagen-inicio{

width: 250px;
padding-bottom: 20px;
padding-left: 60px;
}
.footer-home{
    background-color: #8a8989;
    width: 100%;
    height: 100px;
     display: flex;
    justify-content: center;
    align-items: center; 
}
.fa-brands{
    color: #f0f8ff;
    padding: 0 10px;
    font-size: 30px;
    position: relative;
    right: 50px;

}
.disco{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.album{
    width: 100%;
}
.subtitulo-carrera{
    color: #f0f8ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 25px;
    padding-top: 5px;
}
.parrafo-carrera{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: #f0f8ff;
    padding-top: 5px;
    padding-left: 5px;
}

.lista-concierto{
    color: #f0f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-decoration: underline;
}
.imagen-concierto{
    width: 315px;
}
.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    
}
.imagen-uno{
    width: 320px;
    
}
.imagen-dos{
    width: 160px;
}
.imagen-tres{
    width: 160px;
}
.imagen-cuatro{
    width: 160px;
}
.imagen-cinco{
    width: 160px;
}
@media screen and (min-width: 768px){
    header{
        background-color: #8a8989;
        display: flex;
        align-items: center;
        width: 100%;
        height: 90px;
        
        
    }
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-style: oblique;
        color: #f0f8ff;
        padding-left: 40px;
        
    }
    nav{
        padding-left: 30px;
    }
    ul li{
        display: inline-block;
        padding-right: 10px;
        transition: all;
        
        
        
    }
    ul li:hover{
        color: #535252;
        text-decoration: underline;
        transform: scale(1.2);
        transition: all;
        transition-duration: 2s;
    }
    ul li a {
        color: #f0f8ff !important;   
        text-decoration: none;
        padding-right: 20px;
        font-size: 20px;
        
    }
    
    .subtitulo-intro{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        font-style: italic;
        color: #f0f8ff;
        display: flex;
        justify-content: center;
        padding-top:20px;
        padding-bottom: 50px;
        padding-left: 30px;
        
    }
        
     .parrafo-intro{
        color: #f0f8ff;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        padding-bottom: 30px;
        
        width: 450px;
    
    }
    .imagen-inicio{
    width: 250px;
    
    padding-left: 10px;
    }
    footer{
        background-color: #8a8989;
        width: 100%;
        height: 100px;
    }
    .fa-brands{
        color: #f0f8ff;
        padding: 0 10px;
        font-size: 30px;
        position: relative;
        right: 30px;
        transition: all;
        transition-timing-function: ease-in-out;
  
    }
    .fa-brands:hover{
        color: #535252;
    }
    .disco{
        display: flex;
        justify-content: center;
    }
    .album{
        
        width: 60%;
        height:500px ;
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contenedor-concierto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    .lista-concierto{
        color: #f0f8ff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 20px;
        text-decoration: underline;
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
    }
    .imagen-concierto{
        width: 455px;
    }
    .contenedor-galeria{
        display: grid;
        grid-template-areas: 
        "imagen-uno imagen-dos imagen-tres"
        "imagen-uno imagen-cuatro imagen-cinco";
        justify-content: center;
    }
    .imagen-uno{
       width: 400px; 
        grid-area: imagen-uno;
        padding: 10px;
    }
    .imagen-dos{
        width: 165px;
        grid-area: imagen-dos;
        padding-top: 30px;
        
    }
    .imagen-tres{
        width: 165px;
        grid-area: imagen-tres;
        padding-top: 30px;
        padding-left: 10px;
    }
    .imagen-cuatro{
        width: 165px;
        grid-area: imagen-cuatro;
        padding-top: 10px;
    }
    .imagen-cinco{
        width: 165px;
        height: 165px;
        grid-area: imagen-cinco;
        padding-top: 10px;
        padding-left: 10px;
    }
    .contenedor-carrera{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (min-width:600px){
    .subtitulo-intro{
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (min-width: 1200px){
    .parrafo-intro{
        width: 500px;
    }
    .imagen-inicio{
        width: 370px;
        padding-top: 20px;
        padding-left: 10px;
    }
}
